body {
  background-color: turquoise;
  font-size: 16pt;
  height: 800px
  width: 800px
}
*{
border-color: magenta yellow indigo yellow;
font-family: Verdana;
}
/* This adjusts style for header 1's and paragraphs*/
h1, p {
width: 100%
font-size: 18pt;
fontcolor: magenta;
background-color: turquoise;
display: flex;
border-style: dotted;
border-width: 5px;
padding:10px;
}
.content{
  background-color: indigo;
}

.box {
background-color: indigo;
height: 200px;
width: 200px;
padding:10px;
position: absolute;
left: 0;
bottom:0;
opacity: .5;
}

.box2{
background-color: yellow;
position: absolute;
height: 150px;
width: auto;
left: 20px;
bottom: 0px;
}

p strong {
  text-decoration: underline;
}
.love{
background-color: yellow;
border-top: 10px solid magenta;
border-style: solid;
border-width: 5px;
padding:10px;
}
