body {
  background-color: turquoise !important;
  font-size: 16pt;
  color: black
}
h1,p{
  font-size: 18pt;
  color: magenta;
  background-color:white;
}
.box{
  background-color: aqua;
  font-size: 14pt;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
