body {
  background-color: turquoise;
  font-size: 16pt;
  height: 800px
  width: 800px
}
*{
border-color: magenta yellow indigo yellow;

}
/* This adjusts style for header 1's and paragraphs*/
h1, p {
width: 100%
font-family: Verdana;
font-size: 18pt;
fontcolor: magenta;
background-color: turquoise;
display: flex;
border-style: dotted;
border-width: 5px;
padding:10px;
}

.love{
border-top: 10px solid magenta;
border-style: solid;
border-width: 5px;
padding:10px;
}
.box {
background-color: indigo;
height: 200px;
width: 200px;
border-style: solid;
border-width: 5px;
padding:10px;
}
}
.box2{
border-style: solid;
border-width: 5px;
opacity: .5;
padding: 10px;
background-color:yellow;
width: 300px;
height: 300px;
position: fixed;
margin-right: auto;
margin-left: 150px;
}
}
p strong {
  text-decoration: underline;
