.woman{
  position: absolute;
  left: 70px;
  top: 15px;
}
.header {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 32px;
  color: #303F44;
	position: absolute;
	left: 550px;
	top: 30px;
  rotation: 10;
}
.header2 {

  position: absolute;
  font-size: 45px;
  text-decoration: underline;
  left: 6px50;
  top: 35px;
  transform: rotate(12deg);
  color: #303F44;
  rotation: -10;
}
.headera{
 font-size: 45px;
 color: #303F44;
 position: absolute;
 left:750px;
 top: 35px;
 rotation: -10;
}
