.woman{
  position: absolute;
  left: 70px;
  top: 15px;
}
.header {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 32px;
  color: #303F44;
	position: absolute;
	left: 550px;
	top: 30px;
  transform: rotate(-12deg);
}
.header2 {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
  position: absolute;
  font-size: 45px;
  left: 800px;
  top: 35px;
  transform: rotate(12deg);
  color: #303F44;
}
.header3 {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
  position: absolute;
  font-size: 45px;
  left: 550px;
  top: 100px;
  color: #303F44;
}
