body {
    background-color: #C5B358;
  }

h1 {
  text-align: center;
  color: black;
  font-family: Old-English;
  text-transform: uppercase;
  font-size: 260%;
  font-style: bold;
  font-weight:500;
  padding-top: 30px;
  letter-spacing: 2;}

h2{
  font-weight: bold;
}
  body {
      text-align: center !important;
      }

  .container {
    width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
  }
  .date {
    font-family: Lucida-Sans-Typewriter;
    font-style: italic;
  }

  p {
  font-family: Lucida-Sans-Typewriter;
  letter-spacing: 1;
  }
  .body{
    border-style: solid;
    border-color:#1a0d00;

  }
  p.hover{
    color:White
  }

  .link {
  color: brown;
  font-weight: 300;
  text-align: center;
  font-size: 110%;
}

.link:hover {
  color: gray;

}

.link:active {
  color: white;
  background-color: white;
}

.link:visited {
  color: grey;
}
