.header {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 32px;
	font-style:
	color: #303F44;
	position: absolute;
	width: 250px;
	left: 400px;
	top: 30px;
  rotation: 10;
}
.header2 {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 32px;
	font-style:
	color: #303F44;
	position: absolute;
	width: 250px;
	left: px;450
	top: 30px;
  rotation: 10;
}
