.woman{
  position: absolute;
  left: 70px;
  top: 15px;
  z-index: 2;
}
.header {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
	font-size: 32px;
  color: #303F44;
	position: absolute;
	left: 550px;
	top: 30px;
  transform: rotate(-12deg);
}
.header2 {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
  position: absolute;
  font-size: 45px;
  left: 800px;
  top: 35px;
  transform: rotate(12deg);
  color: #303F44;
}
.header3 {
  font-family: "Hoefler Text", Times, "Times New Roman", serif;
  position: absolute;
  font-size: 45px;
  left: 550px;
  top: 100px;
  color: #303F44;
}
.filterqueen-padd{
  background-color: #303F44;
  font-weight: bold;
  font-size: 45px;
  color: white;
	position: absolute;
	left:600px;
	top: 200px;
  padding: 1em,
}
.Bagless{
  color: #303F44;
  font-size: 32px;
  position: absolute;
  left:530px;
  top: 350px;

}
.inside{

  position: absolute;
  left: 530px;
  top:450px;
}
h2{
  font-size: 28px;
  color:#ED1701;
}
.sidebar{
  position: absolute;
  left:700px;
  top:450px;
}
.sidebar p{
  font-size: 14px;

}
.icon-outside{
  position: absolute;
  left:530px;
  top:550px;
}
.sidebar2{
  position: absolute;
  left:700px;
  top:550px;
}
.sidebar3{
  position: absolute;
  left: 530px;
  top: 700px;
}
.ssidebar3 p {
  font-size: 14px;
}
.ssidebar3 {
position:absolute;
left: 700px;
top:700px;
}
.sidepara{
  position: absolute;
  left: 600px;
  top:950px;
}
.scene{
  position: absolute;
  left: 70px;
  top: 950px;
}
.leftpara{
  position: absolute;
  left: 70px;
  top: 1200px;
}
.leftpara p {
  font-size: 14px;
}
.filterqueen{
  position: absolute;
  left: 70px;
  top: 1400px;
}
.bottompara{
  position:absolute;
  left: 70px;
  top: 1700px;
}
.bottompara p {
  font-size: 14px;
}
.sidepara{
  position: absolute;
  left: 530px;
  top: 900px;
}
.logo{
  position: absolute;
  left: 500px;
  top: 1300px;
  z-index: 1;
}

.guarantee{
  position: absolute;
  left: 750px;
  top: 1500px;
  z-index: 2;
}
.entry {
  position: absolute;
  left: 650px;
  top:1650px;
  width: 450px;
  height: 250px;
  border-style: dashed;
  border-width: 3px;
  color: black;
}
